$color-black: #1a1a1a;
$color-dark-grey: #313030;
$color-grey: #8d8d8d;
$color-light-grey: #dbdbdb;
$color-light-grey-2: #bdbdbd;
$color-dirty-white: #f5f5f5;
$color-white: #ffffff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.App {
  text-align: center;
}
.Root {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.TopBar {
  position: fixed;
  z-index: 1;
  margin-top: 0;
  width: 100vw;
  padding: 35px 0px;

  background-color: $color-dirty-white;
  box-shadow: 0px 5px 15px rgba(109, 109, 109, 0.25);
  .container {
    display: flex;
  }
}
.logo {
  cursor: pointer;
  padding: 0px 20px;
  h1 {
    font-weight: 900;
    color: $color-black;
  }
}
.search-bar {
  display: flex;
  margin: 0 auto;
  padding-right: 175px;
}
.search-field {
  width: 30vw;
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 15px;
  display: flex;

  input {
    color: $color-black;
    width: calc(30vw - 60px);
    -webkit-appearance: none !important;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px;
    background-color: inherit;
  }
  .search-field-icon {
    color: $color-grey;
    margin: 10px;
  }
  .clear-icon {
    color: $color-light-grey;
    cursor: pointer;
    &:hover {
      color: $color-grey;
      transition: 0.3s;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}

.ImageList {
  margin-top: 117px;
  height: calc(100vh - 112px);
  padding: 30px;
  background-image: linear-gradient(
      rgba(26, 26, 26, 0.897),
      rgba(82, 82, 82, 0.198)
    ),
    url("https://images.unsplash.com/photo-1542254503-6a4c83b465c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error-message {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  h3 {
    color: $color-dirty-white;
    font-size: 2.5rem;
  }
}

.ImageListItem {
  position: relative;
  cursor: pointer;
  width: calc(30vw - 10px);
  height: calc(30vw - 10px);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .author {
    display: none;
  }
  &:hover {
    transition: 0.2s;
    .author {
      display: flex;
      align-self: flex-start;
      position: relative;
      padding: 15px;
      img {
        border-radius: 30px;
        margin-right: 10px;
      }
      h2 {
        margin: auto;
        color: $color-white;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    .image-small {
      filter: brightness(80%);
    }
  }
}

.image-small {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 15px rgba(59, 59, 59, 0.25);
}

.ActiveImage {
  position: fixed;
  z-index: 1;
  width: 100vw;
  margin-top: 0;
  top: 116px;
  padding: 45px;
  height: calc(100vh - 112px);
  background-color: rgba(0, 0, 0, 0.75);

  img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      filter: brightness(90%);
      transition: 0.5s;
    }
  }
  .author {
    display: flex;
    justify-content: center;

    h2 {
      margin-top: 7px;
      color: $color-light-grey-2;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
