$color-black: #1a1a1a;
$color-dark-grey: #313030;
$color-grey: #8d8d8d;
$color-light-grey: #dbdbdb;
$color-light-grey-2: #bdbdbd;
$color-dirty-white: #f5f5f5;
$color-white: #ffffff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

@media screen and (max-width: 576px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.TopBar {
  padding: 35px 0px;
  display: flex;
  background-color: $color-dirty-white;
  box-shadow: 0px 10px 15px rgba(109, 109, 109, 0.5);
}
.logo {
  padding: 0px 20px;
  h1 {
    font-weight: 700;
  }
}
.search-bar {
  display: flex;
  margin: 0 auto;
  padding-right: 175px;
}
.search-field {
  width: 35vw;
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 15px;
  display: flex;

  input {
    color: $color-black;
    width: calc(35vw - 60px);
    -webkit-appearance: none !important;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px;
    background-color: inherit;
  }
  .search-field-icon {
    color: $color-grey;
    margin: 10px;
  }
  .clear-icon {
    color: $color-light-grey-2;
    cursor: pointer;
    &:hover {
      color: $color-grey;
      transition: 0.3s;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
